.outline{
	outline: 1px solid green;
}

.cf::after{
	content: "";
	display: table;
	clear: both;
}

body{
	min-width: 960px;
	margin: 0;
	padding: 0;
	background: #242424 url(../img/index-bg.jpg) no-repeat center top;
	color: #fff;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

.main-header{
	margin-bottom: 60px;
	color: #fff;
	background-color: #000;
}

.container{
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.main-nav{
	width: 780px;
	float: left;
}

.main-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main-nav li{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
}

.main-nav a{
	display: block;
	padding: 25px 20px;
	color: #fff;
	text-decoration: none;

}

.main-nav a:hover{
	background: #242424;

}

.user-block{
	max-width: 140px;
	float: right;
}

.user-block a{
	position: relative;
	display: inline-block;
	padding: 25px 20px;
	padding-left: 50px;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
}

.user-block a:hover{
	background: #242424;
}

.user-block a::before{
	content: "";
	position: absolute;
	top: 28px;
	left: 20px;
	width: 18px;
	height: 16px;
	background: url(../img/icon-login.png);
	opacity: 0.3;
}

.user-block a:hover::before{
	opacity: 1;
}

.main-logo{
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
	display: block;
}

.features{
	margin-bottom: 80px;
}

.features-item{
	width: 300px;
	margin-right: 20px;
	float: left;
}

.features-item:last-child{
	margin-right: 0;
}

.index-content{
	padding: 50px 80px;
	margin-bottom: 35px;
}

.index-content-left{
	float: left;
	width: 380px;
}

.index-content-right{
	float: right;
	width: 300px;
}

.main-footer{
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
}

.footer-contacts{
	width: 320px;
	margin-right: 60px;
	float: left;
}

.footer-social{
	width: 180px;
	float: left;
}

.copyright{
	width: 140px;
	float: right;
}