.cf::after{
	content: "";
	display: table;
	clear: both;
}

.btn{
	display: inline-block;
	margin-right: 16px;
	padding: 10px 33px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	vertical-align: top;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #000;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn:hover,
.btn:active{
	background-color: #663d15;
}

.btn.disabled,
.btn:disabled{
	cursor: default;
	opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover{
	background-color: #000;
}

body{
	min-width: 960px;
	margin: 0;
	padding: 0;
	background: #242424 url(../img/index-bg.jpg) no-repeat center top;
	color: #fff;
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

.inner-page{
	color: #000;
	background: #f8f3f0 url(../img/inner-bg.jpg) repeat;
}

.main-header{
	margin-bottom: 60px;
	color: #fff;
	background-color: #000;
}

.inner-page .main-header{
	margin-bottom: 55px;
}

.container{
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.main-nav{
	width: 780px;
	float: left;
}

.main-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main-nav li{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
}

.main-nav a{
	display: block;
	padding: 25px 20px;
	color: #fff;
	text-decoration: none;
}

.main-nav a:hover{
	background: #242424;
}

.main-nav .inner-logo{
	float: left;
	width: 111px;
	height: 24px;
	padding-top: 23px;
	padding-bottom: 23px;
}

.main-nav .inner-logo img{
	width: 111px;
	height: 24px;
}

.main-nav .inner-logo:hover{
	background: none;
}

.main-nav .active{
	position: relative;
}

.main-nav .active:after{
	content: "";
	position: absolute;
	right: 20px;
	left: 20px;
	bottom: 0;
	height: 5px;
	background-color: #fff;
}

.main-nav .active a:hover{
	background: none;
}

.main-nav .active span{
	display: block;
	padding: 25px 20px;
}

.user-block{
	max-width: 140px;
	float: right;
}

.user-block a{
	position: relative;
	display: inline-block;
	padding: 25px 20px;
	padding-left: 50px;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
}

.user-block a:hover{
	background: #242424;
}

.user-block a::before{
	content: "";
	position: absolute;
	top: 28px;
	left: 20px;
	width: 18px;
	height: 16px;
	background: url(../img/icon-login.png);
	opacity: 0.3;
}

.user-block a:hover::before{
	opacity: 1;
}

.index-logo{
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
	display: block;
}

.features{
	margin-bottom: 80px;
}

.features-item{
	width: 300px;
	margin-right: 20px;
	float: left;
	text-align: center;
	text-transform: uppercase;
}

.features-item:last-child{
	margin-right: 0;
}

.features-item b{
	position: relative;
	display: block;
	margin-bottom: 30px;
	padding-bottom: 35px;
	font-size: 30px;
	line-height: 42px;
}

.features-item b::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	background-color: #fff;
	transform: rotate(45deg);
}

.features-item p{
	margin-bottom: 0;
	font-size: 14px;
	line-height: 24px;
}

.index-content{
	padding: 50px 80px;
	margin-bottom: 35px;
	color: #000;
	background: url(../img/index-content-bg-line.png) no-repeat center, 
							#f8f5f2 url(../img/index-content-bg.jpg);
}

.index-content-left{
	float: left;
	width: 380px;
}

.index-content-title{
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;
}

.index-content p{
	margin: 0;
	margin-bottom: 25px;
}

.news-preview{
	margin: 0;
	padding: 0;
	padding-right: 40px;
	list-style: none;
}

.news-preview li{
	margin-bottom: 25px;
}

.news-preview p{
	margin-bottom: 0;
}

.news-preview time{
	font-weight: 400;
	text-transform: none;
}

.index-content-right{
	float: right;
	width: 300px;
}

.galery{
	position: relative;
	height: 260px;
}

.galery-content{
	height: 164px;
	margin: 0;
	background-color: #ccc;
	border: 7px solid #fff;
}

.galery-content img{
	width: 286px;
	height: 164px;
}

.galery .btn{
	position: absolute;
	bottom: 0;
	width: 140px;
	margin: 0;
}

.galery-prev{
	left: 0;
}

.galery-next{
	right: 0;
}

.appointment-form input{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 106px;
	padding: 7px 15px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	color: #000;
	text-transform: uppercase;
	background-color: #f9f6f3;
	border: 2px solid #000;
	outline: none;
}

.appointment-form input:focus{
	border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n){
	margin-right: 0;
}

.appointment-form .btn{
	clear: both;
	width: 100%;
}

/* стили внутренних страниц */

.inner-page-title{
	margin-bottom: 55px;
}

.inner-page-title h1{
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-size: 30px;
	line-height: 42px;
}

.breadcrumbs{
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs li{
	position: relative;
	display: inline;
	padding-right: 40px;
}

.breadcrumbs li::after{
	content: "";
	position: absolute;
	top: 4px;
	right: 18px;
	width: 8px;
	height: 8px;
	background-color: #000;
	transform: rotate(45deg);
}

.breadcrumbs a{
	color: #000;
	text-decoration: none;
}

.breadcrumbs a:hover{
	text-decoration: underline;
}

.breadcrumbs .current{
	color: #aba9a7;
}

.breadcrumbs .current:after{
	display: none;
}

/* Общие стили для контентных тегов */

.inner-content{
	margin-bottom: 75px;
}

.inner-content h2{
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: 24px;
	line-height: 30px;
}

.inner-content h3{
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 24px;
}

.inner-content h2+h3{
	margin-top: 30px;
}

.inner-content p{
	margin: 14px 0;
}

.inner-content table{
	border-collapse: collapse;
}

.inner-content td{
	padding: 10px 15px;
	border: 2px solid #000;
}

/* Особые стили для конкретных тегов */

.big-heading{
	margin-top: 55px;
	margin-bottom: 65px;
	text-align: center;
}

.big-heading::after{
	content: "";
	position: relative;
	z-index: 1;
	top: -25px;
	display: block;
	border-bottom: 2px solid #000;
	
}

.big-heading h2{
	position: relative;
	z-index: 2;
	display: inline-block;
	margin: 0;
	padding: 0 25px;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	background: #f8f3f0 url(../img/inner-bg.jpg) repeat;
}

.custom-list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.custom-list li{
	position: relative;
	margin-bottom: 15px;
	padding-left: 20px;
}

.custom-list li:last-child{
	margin-bottom: 0;
}

.custom-list li::before{
	content: "";
	position: absolute;
	top: 8px;
	left: 0;
	width: 8px;
	height: 8px;
	background-color: #000;
	transform: rotate(45deg);
}

.prices-table{
	width: 100%;
}

.prices-table td{
	width: 50%;
}

.prices-table td:last-child{
	text-align: center;
}

.short-text{
	padding-right: 85px;
}

/* Колонки для контента */

.inner-columns{
	margin: 60px 0;
}

.inner-columns-left,
.inner-columns-right{
	width: 460px;
}

.inner-columns-left{
	float: left;
}

.inner-columns-right{
	float: right;
}

.inner-columns-left *:first-child,
.inner-columns-right *:first-child{
	margin-top: 0;
}

.inner-columns-left *:last-child,
.inner-columns-right *:last-child{
	padding-bottom: 0;
}

.main-footer{
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
	color: #fff;
	background: #252525 url(../img/footer-bg.jpg);
}

.footer-contacts{
	width: 320px;
	margin-right: 60px;
	float: left;
}

.footer-contacts a{
	color: #fff;
}

.footer-contacts a:hover{
	text-decoration: none;
}

.footer-social{
	width: 180px;
	float: left;
	text-align: center;
}

.footer-social p{
	margin: 0;
	margin-bottom: 15px;
}

.social-btn{
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 2px;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	background: #000 url(../img/social-sprite.png) no-repeat center;
	transition: 
		background-position 0.5s,
		background-color 0.5s;
}

.social-btn:hover{
	background: #fff url(../img/social-sprite.png) no-repeat center;
}

.social-btn-vk{
	background-position: -51px 9px;
}

.social-btn-fb{
	background-position: 15px 8px;
}

.social-btn-inst{
	background-position: -132px 8px;
}

.social-btn-vk:hover{
	background-position: -92px 9px;
}

.social-btn-fb:hover{
	background-position: -14px 8px;
}

.social-btn-inst:hover{
	background-position: -174px 8px;
}

.copyright{
	max-width: 180px;
	float: right;
}

.copyright p{
	margin: 0;
	margin-bottom: 15px;
	text-align: center;
}

.copyright .btn{
	margin-right: 0;
}

/* Всплывающее окно */

.modal-content{
	position: fixed;
	top: 120px;
	left: 50%;
	z-index: 20;
	width: 300px;
	margin-left: -230px;
	padding: 50px 80px;
	color: #000;
	background: #f8f3f0 url(../img/inner-bg.jpg) repeat;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	display: none;
}

.modal-content-close{
	position: absolute;
	top: 0;
	right: -34px;
	width: 22px;
	height: 22px;
	font-size: 0;
	background: none;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.modal-content-close:before,
.modal-content-close:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;
	width: 19px;
	height: 3px;
	background-color: #d0d0d0;
	border-radius: 1px;
}

.modal-content-close:before{
	transform: rotate(45deg);
}

.modal-content-close:after{
	transform: rotate(-45deg);
}

.modal-content h2{
	margin: 0;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 42px;
}

.modal-content p{
	margin: 0;
	margin-bottom: 14px;
}

.modal-content .login-form{
	margin-top: 30px;
	margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"]{
	width: 236px;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px 20px;
	padding-right: 40px;
	font-size: 14px;
	line-height: 24px;
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	color: #000;
	text-transform: uppercase;
	font-weight: 700;
	background-color: #f9f6f3;
	border: 2px solid #000;
	outline: 0;
}

.login-form input:focus{
	border-color: #663d15;
}

.login-form input.icon-user{
	background-image: url(../img/user.png);
	background-repeat: no-repeat;
	background-position: 269px 14px;
}

.login-form input.icon-password{
	background-image: url(../img/locked.png);
	background-repeat: no-repeat;
	background-position: 269px 14px;
}

.login-form .restore{
	float: right;
	color: #000;
}

.login-form .btn{
	width: 100%;
	margin-top: 15px;
}

.login-checkbox{
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}

.login-checkbox:hover{
	color: #663d15;
}

.login-checkbox input[type="checkbox"]{
	display: none;
}

.login-checkbox input[type="checkbox"]+
.checkbox-indicator{
	position: absolute;
	top: -3px;
	left: 0;
	width: 17px;
	height: 17px;
	border: 2px solid #000;
}

.login-checkbox input[type="checkbox"]:checked+
.checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked+
.checkbox-indicator::after{
	content: "";
	position: absolute;
	top: 8px;
	left: 1px;
	width: 15px;
	height: 2px;
	background-color: #000;
}

.login-checkbox input[type="checkbox"]:checked+
.checkbox-indicator::before{
	transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked+
.checkbox-indicator::after{
	transform: rotate(-45deg);
}

.modal-content-map{
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 20;
	margin-top: -280px;
	margin-left: -390px;
	width: 766px;
	height: 560px;
	background: #e9e5dc url(../img/map.jpg) no-repeat;
	border: 7px solid #fff;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	display: none;
}

.modal-overlay{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}